In [1]:
import ee, os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from featuretoolkit import src as ftk

In [ ]:
from dotenv import load_dotenv

load_dotenv()
ee.Authenticate()
ee.Initialize(project=os.getenv('projectkey'))

In [3]:
gfld=pd.read_excel('database/19_10 Landslide database master.xlsx')
# courtesy of Professor Dave Petley

coolr=pd.read_csv('database/nasa_global_landslide_catalog_point.csv')
# courtesy of NASA Global Landslide Catalog @ https://maps.nccs.nasa.gov/arcgis/apps/MapAndAppGallery/index.html?appid=574f26408683485799d02e857e5d9521 (landslide reports points csv)

In [9]:
gfld.head()

,LandslideN,Country,Date,Day,Month,Year,Continent,Fatalities,Trigger,Location_M,...,Longitude,Location_R,Report 1,Source 1,Report 2,Source 2,Report 3,Source 3,Report 4,Source 4
0,1,Mozambique,2004-01-02,2,1,2004,E. Africa,6,unknown,Sofala,...,34.675341,Tsiquiri region Sofala province,NaN,http://allafrica.com/stories/200401050521.html,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Pakistan,2004-01-02,2,1,2004,S. Asia,3,construction,Shogran,...,73.462259,Shogran,NaN,http://paktribune.com/news/index.php?id=50368,NaN,NaN,NaN,NaN,NaN,NaN
2,3,China,2004-01-03,3,1,2004,E. Asia,16,unknown,Linfen,...,111.372850,Jingpo Village Linfen City Shanxi N. China,NaN,http://news.xinhuanet.com/english/2004-01/04/c...,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Indonesia,2004-01-04,4,1,2004,S.E. Asia,4,rainfall,Wanahayu,...,108.303381,Wanahayu village Maja subdistrict Majalengka...,NaN,http://www.antara.co.id/e_berita.asp?id=129215...,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Mexico,2004-01-11,11,1,2004,C. America,2,rainfall,Pichucalco,...,-93.188786,Pichucalco c.80 kms north of Tuxtla Gutierrez...,NaN,http://www.contracostatimes.com/mld/cctimes/ne...,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
coolr.head()

,OID,source_name,source_link,event_id,event_date,event_time,event_title,event_description,location_description,location_accuracy,...,event_import_id,latitude,longitude,country_name,country_code,admin_division_name,gazetteer_closest_point,gazetteer_distance,submitted_date,last_edited_date
0,-1,NASA SERVIR Science Coordination Office & SERV...,https://servir.adpc.net/,11757,NaN,NaN,Landslide in Myanmar,NaN,NaN,exact,...,178,18.741125,94.693509,Myanmar,MM,Rakhine,Buyo Chaung,18.35,8/17/2018 0:00:00,NaN
1,-1,The Bolton News,http://www.theboltonnews.co.uk/news/14174289.R...,9148,12/30/2015 0:00:00,NaN,Forest Road,FAMILIES were forced from their homes after a ...,Forest Road,exact,...,9148,53.596700,-2.460000,United Kingdom,GB,England,Bolton,1.91,7/25/2016 17:42:30,NaN
2,-1,The Arunachal Times,http://www.arunachaltimes.in/six-killed-in-meg...,10987,6/17/2017 0:00:00,NaN,Fatal landslide in Umiam,Landslide following continuous rain kills 3 in...,"Umiam, Ribhoi, Meghalaya",5km,...,NaN,25.678368,91.923434,India,IN,Meghalaya,Shillong,6.30,7/10/2017 18:45:55,NaN
3,-1,newvision,http://www.newvision.co.ug/D/8/12/719718,1862,5/15/2010 0:00:00,NaN,"road to Kanungu district at Kamujegye(?), Rwer...","In Rukungiri district, motor traffic stalled a...","road to Kanungu district at Kamujegye(?), Rwer...",10km,...,1862,-0.788800,29.821400,Uganda,UG,Kanungu,Kinyasano,10.54,4/1/2014 0:00:00,NaN
4,-1,mcot,http://www.mcot.net/cfcustom/cache_page/187154...,3305,3/27/2011 0:00:00,NaN,Surat Thani province,"CHUMPHON, March 27 -- Several tourists and vil...",Surat Thani province,unknown,...,3305,9.010300,99.088600,Thailand,TH,Surat Thani,Khiri Rat Nikhom,13.55,4/1/2014 0:00:00,NaN

In [4]:
coolr=ftk.process_coolr(coolr)
coolr

,time_start,time_end,spatial_uncertainty,latitude_center,longitude_center
0,1.497658e+12,1.497744e+12,5000.0,25.678368,91.923434
1,1.273882e+12,1.273968e+12,10000.0,-0.788800,29.821400
2,1.271722e+12,1.271808e+12,1000.0,26.196500,91.763000
3,1.136333e+12,1.136419e+12,5000.0,-6.934300,110.196900
4,1.440720e+12,1.440806e+12,25000.0,23.449500,92.811200
...,...,...,...,...,...
6817,1.580947e+12,1.581034e+12,500.0,37.857066,-81.014200
6818,1.676551e+12,1.676551e+12,500.0,38.388959,-81.658976
6819,1.502410e+12,1.502496e+12,NaN,38.711048,-77.083595
6820,1.739578e+12,1.739664e+12,500.0,38.395343,-82.300335
6821,1.589933e+12,1.590019e+12,NaN,37.293102,-80.058070

In [5]:
gfld=ftk.process_gfld(gfld)
gfld

,time_start,time_end,spatial_uncertainty,latitude_center,longitude_center
0,1.073174e+12,1.073261e+12,1271.402335,-6.925276,108.303381
1,1.073779e+12,1.073866e+12,14794.854925,17.552324,-93.188786
2,1.073779e+12,1.073866e+12,10062.257299,7.092358,80.886529
3,1.074038e+12,1.074125e+12,17313.149141,1.382049,110.117929
4,1.074125e+12,1.074211e+12,9063.467536,-22.585616,-43.327366
...,...,...,...,...,...
3596,1.513382e+12,1.513469e+12,4971.103785,11.560030,124.552919
3597,1.513382e+12,1.513469e+12,1164.719591,11.623736,124.426184
3598,1.513382e+12,1.513469e+12,1120.598696,-43.384466,-72.407090
3599,1.513901e+12,1.513987e+12,2336.392335,7.886669,125.170705
3600,1.513901e+12,1.513987e+12,3242.207138,7.857581,122.762332

In [6]:
positives,dropped=ftk.concatenate(coolr,gfld)
positives

,event_id,time_start,time_end,spatial_uncertainty,latitude_center,longitude_center,region_id,fold_id
0,0,1.497658e+12,1.497744e+12,5.000000,25.678368,91.923434,823ce7fffffffff,813cfffffffffff
1,1,1.273882e+12,1.273968e+12,10.000000,-0.788800,29.821400,826adffffffffff,816afffffffffff
2,2,1.271722e+12,1.271808e+12,1.000000,26.196500,91.763000,823ce7fffffffff,813cfffffffffff
3,3,1.136333e+12,1.136419e+12,5.000000,-6.934300,110.196900,828d8ffffffffff,818dbffffffffff
4,4,1.440720e+12,1.440806e+12,25.000000,23.449500,92.811200,823cc7fffffffff,813cfffffffffff
...,...,...,...,...,...,...,...,...
8696,8696,1.513382e+12,1.513469e+12,4.971104,11.560030,124.552919,826867fffffffff,81687ffffffffff
8697,8697,1.513382e+12,1.513469e+12,1.164720,11.623736,124.426184,826867fffffffff,81687ffffffffff
8698,8698,1.513382e+12,1.513469e+12,1.120599,-43.384466,-72.407090,81cebffffffffff-OTHER,81cebffffffffff
8699,8699,1.513901e+12,1.513987e+12,2.336392,7.886669,125.170705,82685ffffffffff,81687ffffffffff
8700,8700,1.513901e+12,1.513987e+12,3.242207,7.857581,122.762332,826857fffffffff,81687ffffffffff

In [7]:
dropped

,coolr_id,gfld_id,date,distance_m,coolr_rad_m,gfld_rad_m,time_start_coolr,time_end_coolr,time_start_gfld,time_end_gfld
0,0,3429,2017-06-17 00:00:00+00:00,34953.441692,5000.0,30182.649115,2017-06-17 00:00:00+00:00,2017-06-18 00:00:00+00:00,2017-06-17 00:00:00+00:00,2017-06-18 00:00:00+00:00
1,6,1720,2010-08-07 00:00:00+00:00,51200.584803,50000.0,125000.011648,2010-08-06 00:00:00+00:00,2010-08-07 00:00:00+00:00,2010-08-07 00:00:00+00:00,2010-08-08 00:00:00+00:00
2,13,2965,2015-07-11 00:00:00+00:00,9809.581029,5000.0,6077.195929,2015-07-11 00:00:00+00:00,2015-07-12 00:00:00+00:00,2015-07-11 00:00:00+00:00,2015-07-12 00:00:00+00:00
3,16,2525,2013-07-22 00:00:00+00:00,6238.742183,5000.0,2658.011264,2013-07-22 00:00:00+00:00,2013-07-23 00:00:00+00:00,2013-07-22 00:00:00+00:00,2013-07-23 00:00:00+00:00
4,18,1642,2010-06-17 00:00:00+00:00,15423.308546,10000.0,18805.863846,2010-06-16 00:00:00+00:00,2010-06-17 00:00:00+00:00,2010-06-17 00:00:00+00:00,2010-06-18 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...
807,6764,2822,2014-08-27 00:00:00+00:00,200.898442,5000.0,344.730880,2014-08-27 00:00:00+00:00,2014-08-28 00:00:00+00:00,2014-08-27 00:00:00+00:00,2014-08-28 00:00:00+00:00
808,6773,2820,2014-08-27 00:00:00+00:00,21507.213459,1000.0,23164.771914,2014-08-27 00:00:00+00:00,2014-08-28 00:00:00+00:00,2014-08-27 00:00:00+00:00,2014-08-28 00:00:00+00:00
809,6780,2508,2013-07-10 00:00:00+00:00,72.035604,5000.0,208.390930,2013-07-10 00:00:00+00:00,2013-07-11 00:00:00+00:00,2013-07-10 00:00:00+00:00,2013-07-11 00:00:00+00:00
810,6783,1761,2010-08-28 00:00:00+00:00,1093.202153,5000.0,1937.731192,2010-08-27 00:00:00+00:00,2010-08-28 00:00:00+00:00,2010-08-28 00:00:00+00:00,2010-08-29 00:00:00+00:00
811,6791,2777,2014-07-23 00:00:00+00:00,28309.465950,5000.0,60895.649073,2014-07-22 00:00:00+00:00,2014-07-23 00:00:00+00:00,2014-07-23 00:00:00+00:00,2014-07-24 00:00:00+00:00

In [ ]:
# thanks for your time